<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" href ="styles.css">
        <title>Main</title>
    </head>

    <body>
        <div class = "menu">
                <ul>
                    <li class = "menu_list">BBDawg</li>
                    <li class = "menu_list">About</li>
                    <li class = "menu_list">Library</li>
                    <li class = "menu_list"><input type="text" placeholder="Seach for Set" name="set_name"></li>
                    <li class = "menu_list">Profile</li>
                </ul>
        </div>
        
        <div class="padded_body">
            <div class = "border">
                <div class = "sideby">
                    <div class = "left_div">
                        Hello and Welcome.
                        <br>
                        <br>
                        This is a small site with no real purpose at the moment. I created this site using Html, CSS for web design. Is this front-end?
                        I used Python with the Django framework to set up the back-end?
                    </div>
                    <div class = "right_div">
                        <form id = "login" method="post">
                            <label>
                                Username
                                <input type="text" placeholder="Enter username" name="username">
                            </label>
                            <br>
                            <br>
                            <label>
                                Password
                                <input type="text" placeholder="Enter password" name="pass">
                            </label>
                            <br>
                            <br>
                            <button name="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>

            <br>

            <div class = "border">
                <div class ="sideby">
                    <div class = "goals">
                        These are some of the current goals/actions I will be working on achieving through this web app:
                        <ul>
                            <li>Account Registration</li>
                            <li>Account Login</li>
                            <li>Profile Customization</li>
                            <li>Image Manipulation</li>
                        </ul>            
                    </div>
                    <div class = "goals">
                        Anyways here are some other websites I would recommend to go to because I dont know what to do anymore.
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>